---
vllm:
  enabled: true

openwebui:
  enabled: true
  configuration:
    vllmEndpoints:
      - endpoint: 'http://{{ if eq .Release.Name "vllm" }}{{ .Release.Name }}{{ else }}{{ printf "%s-%s" .Release.Name "vllm" }}{{ end }}.{{ .Release.Namespace }}.svc:8000/v1'
        token: ""
